{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-light m-150 animated-text" style="font-weight:600;"> Advanced Monitoring, Absolute Integrity: Protecting Every Exam, Preserving Every Future. </h2>
        </div>
        <div class="col-md-6">
            <div class="register-container">
                {% with messages = get_flashed_messages(category_filter=["register_error","db_error"]) %} 
                <!--dui otai error message eutai element ma dekhuna lai -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                
                <h2 class="text-center">Register</h2>
                <form method="post" action="{{ url_for('register_validation') }}">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirm_password" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary logb">Register</button>
                        <p style="text-align: center; margin-top: 20px;">
                            Already have an account? <a href="{{ url_for('login') }}" style="text-decoration: none; color: #007bff;">Login</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
